<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
      <appSettings>
        <!--Database connection string-->
        <add key="DBConStr" value="Data Source=.\SQLEXPRESS;database=AOSmith_WT;User id=sa; Password=IDE123$%^;"/>





        <!--response timeout in milliseconds-->
        <add key="ResponseTimeout" value="100" />

        <add key="MODE" value="MASTER" />

        <!--Communication Layers-->
        <add key="COM_LAYERS" value="RS485"/>

        <!-- Controller port settings-->
        <add key="PORT" value="COM1"/>
        
        <!-- Barcode scanner serial port settings-->
        <add key="BCPORT" value="COM5"/>
        
        <!-- Combination Sticker scanner serial port settings -->
        <add key="CSPORT" value="COM6"/>  
        
        <!-- Actual quantity Scanner Serial Port Settings -->
        <add key="ACTQTYPORT" value="COM7"/>

        <add key="SleepOnWrite" value="1"/>

        <!--Response Packet Fields-->
        <add key="RESPONSE_PACKET_FIELDS" value="DEPARTMENT"/>
        
        <!--MainBody Barcode Template path-->
        <add key="M1_BARCODE_TEMPLATE" value="E:\Barcode Project\Ideonics\Repository\AOSmithWaterTreatment_Software\BarCodeTemplates\M1.prn"/>

        <!--MainFrame Barcode Template path-->
        <add key="F1_BARCODE_TEMPLATE" value="E:\Barcode Project\Ideonics\Repository\AOSmithWaterTreatment_Software\BarCodeTemplates\F1.prn"/>

        <!--Combinatin Barcode Template path-->
        <add key="TOK_BARCODE_TEMPLATE" value="E:\Barcode Project\Ideonics\Repository\AOSmithWaterTreatment_Software\BarCodeTemplates\TOK.prn"/>


        <!--Combinatin Barcode Template path-->
        <add key="CS_BARCODE_TEMPLATE" value="E:\Barcode Project\Ideonics\Repository\AOSmithWaterTreatment_Software\BarCodeTemplates\DMP.prn"/>
        
        <!--MainBody Printer IP Address-->
        <add key ="F1_PRINTER_IP" value="172.20.240.181"/>
        
        <!--MainFrame Printer IP Address-->
        <add key="M1_PRINTER_IP" value="172.20.240.183"/> 
        
        <!--Combination Printer IP Address-->
        <add key="TOK_PRINTER_IP" value="172.20.240.182"/>
        
        <!--Combination Printer Name-->
        <add key="COMBINATION_BARCODE_PRINTER_NAME" value="CombinationPrinter"/>
        
        <!--Printer Port-->
        <add key ="PRINTER_PORT" value="9100" />


        <!--SIMULATION-->
        <add key ="CONTROLLER_SIMULATION" value="No" />
        
     

        <!--SCANNER SIMULATION-->
        <add key ="SCANNER_SIMULATION" value="Yes" />
        
        
        <!--PRINTER SIMULATION-->
        <add key ="PRINTER_SIMULATION" value="No" />

        <!--ASSOCIATION TIMEOUT-->
        <add key ="ASSOCIATION_TIMEOUT" value="15" />


      </appSettings>

</configuration>