<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
      <appSettings>
        <!--Database connection string-->
        <add key="DBConStr" value="Data Source=.\SQLEXPRESS;database=AOSmith_WT;User id=sa; Password=ide123$%^;"/>





        <!--response timeout in milliseconds-->
        <add key="ResponseTimeout" value="100" />

        <add key="MODE" value="MASTER" />

        <!--Communication Layers-->
        <add key="COM_LAYERS" value="RS485"/>

        <!-- serial port settings-->
        <add key="PORT" value="COM6"/>
        
        <!-- Barcode scanner serial port settings-->
        <add key="BCPORT" value="COM4"/>
        
        <!-- Combination Sticker scanner serial port settings -->
        <add key="CSPORT" value="COM9"/>  
        
        <!-- Actual quantity Scanner Serial Port Settings -->
        <add key="ACTQTYPORT" value="COM8"/>

        <add key="SleepOnWrite" value="1"/>

        <!--Response Packet Fields-->
        <add key="RESPONSE_PACKET_FIELDS" value="DEPARTMENT"/>
        
        <!--MainBody Barcode Template path-->
        <add key="MAINBODY_BARCODE_TEMPLATE" value="E:\Barcode Project\Ideonics\AOSmithWaterTreatment_Software\BarCodeTemplates\Barcode.prn"/>

        <!--MainFrame Barcode Template path-->
        <add key="MAINFRAME_BARCODE_TEMPLATE" value="E:\Barcode Project\Ideonics\AOSmithWaterTreatment_Software\BarCodeTemplates\Barcode.prn"/>

        <!--Combinatin Barcode Template path-->
        <add key="COMBINATION_BARCODE_TEMPLATE" value="E:\Barcode Project\Ideonics\AOSmithWaterTreatment_Software\BarCodeTemplates\Puritee.prn"/>
        
        <!--MainBody Printer IP Address-->
        <add key ="MAINBODY_PRINTER_IP" value="172.20.240.184"/>
        
        <!--MainFrame Printer IP Address-->
        <add key="MAINFRAME_PRINTER_IP" value="172.20.240.182"/> 
        
        <!--Combination Printer IP Address-->
        <add key="COMBINATION_PRINTER_IP" value="172.20.240.185"/>
        
        <!--Combination Printer Name-->
        <add key="COMBINATION_BARCODE_PRINTER_NAME" value="ZM600"/>
        
        <!--Printer Port-->
        <add key ="PRINTER_PORT" value="9100" />


        <!--SIMULATION-->
        <add key ="SIMULATION" value="No" />
        
        <!--PB SIMULATION-->
        <add key ="PBSIMULATION" value="Yes" />




      </appSettings>

</configuration>