<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
     
      <appSettings>
        <!--Database connection string-->
        <add key="DBConStr" value="Data Source=.\SQLEXPRESS;database=WaterTreatment;User id=sa; Password=jyothilinga;"/>

        <!--Shift A Timings-->
        <add key="Shift_A_StartTime" value ="06:00:00"/>
        <add key="Shift_A_EndTime" value ="14:00:00"/>


        <!--Shift B Timings-->
        <add key="Shift_B_StartTime" value ="14:00:00"/>
        <add key="Shift_B_EndTime" value ="22:00:00"/>


        <!--Shift C Timings-->
        <add key="Shift_C_StartTime" value ="22:00:00"/>
        <add key="Shift_C_EndTime" value ="06:00:00"/>
      </appSettings>
    </startup>
</configuration>